html, body
{
  height: 100%;
  line-height: 1;
  font-size: 16px;
  margin: 0;
  background-color: #FAFAFA;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
[class*="_container"]
{
  min-width: 1166px;
  margin: 0px auto;
  padding: 0px 377px;
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
}
h2
{
  font-size: 36px;
  font-weight: 500;
}
ul, ol, li
{
  list-style: none;
}
a
{
  text-decoration: none;
}
.wrapper
{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.header
{
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 20px;
}
.header_container
{
  display: flex;
  min-height: 80px;
  align-items: center;
}
.header_logo
{
  
}

.menu
{
  flex: 1 1 auto;
  justify-content:center;
  display: flex;
  align-items: center;
}

.lng
{
  display: inline-block;
}
.menu_list
{
  display: flex;
  gap: 40px;
}
.menu_item
{

}
.menu_link
{
  
}
.main
{
  flex: 1 1 auto;
}
.main_container
{
  display: flex;
  flex-wrap: wrap;
  margin: 110px 0 0 0;

}
.main_paragraph
{
  background-color: white;
  width: 827px;
  height: 632px;
  padding: 30px;

}
.footer
{
  background-color: #FFFFFF;
}
