body
{
    font-family: 'Montserrat', sans-serif;
    background: #FAFAFA;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
header
{
    position: absolute;
    width: 100%;
    height: 80px;
    background: #FFFFFF
}
.header-content
{
  list-style: none;
  text-align: center;
}
.header-content li
{
  display: inline-block;
}
.header-content a
{
  text-decoration: none;
  position: relative;
  margin: 0 30px;
}
.header-content a.current, .header-content a:hover
{
  color: #14988B;
}

.main-block
{
  position: relative;
  width: 827px;
  height: 632px;
  background: #FFFFFF;
  padding: 30px;
}
.main-button
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  position: absolute;
  width: 289px;
  height: 60px;
  left: 269px;
  top: 492px;
  background: #14988B;
}