html, body
{
  height: 100%;
  line-height: 1;
  font-size: 16px;
  margin: 0;
  background-color: orange;
  color: white;
  font-family: 'Montserrat', sans-serif;
  
}
ul, ol, li
{
  list-style: none;
}
a
{
  text-decoration: none;
}
.wrapper
{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.header
{
  background-color: green;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.main
{
  flex: 1 1 auto;
}
.footer
{
  background-color: red;
}

.header_container
{
  display: flex;
  min-height: 80px;
  align-items: center;
}
.header_logo
{
  margin: 0px 30px 0px 30px;
  height: 40px;
}
.menu
{
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.lng
{
  justify-content: flex-end;
  display: inline-block;
}
.header_menu
{
  flex: 1 1 auto;
  margin: 0px 30px 0px 30px;
}
.menu_list
{
  display: flex;
  gap: 40px;
}
.menu_item
{
}
.menu_link
{
  
}

[class*="_container"]
{
  min-width: 1166px;
  margin: 0px auto;
  padding: 0px 15px;
}